<footer class="bg-base-900 text-center text-white py-4">

    <img class="mb-5" src="/assets/images/header+footer/spasibo-logo.png" alt="logo">
    <p class="fs-5">本活動辦法與優惠內容，本公司保有最終修改、變更、取消或終止之權利，未盡事宜以本公司網站公告為準。</p>
    <p>@2025 Spasibo House. All rights reserved.</p>
</footer>