<header>
    <nav class="navbar navbar-expand-lg">
        <div class="d-flex w-100 justify-content-around">
            <a href="#" class="flex-grow-0"><img class="headerImg py-2" src="/assets/images/header+footer/spasibo-logo.png" alt="logo"></a>
            <a class="flex-grow-0 py-4 fs-5 text-white fw-bold" href="#">ABOUT</a>
            <a class="flex-grow-0 py-4 fs-5 text-white fw-bold" href="#">SERVICE</a>
            <a class="flex-grow-0 py-4 fs-5 text-white fw-bold" href="#">SALES</a>
            <a class="flex-grow-0 py-4 fs-5 text-white fw-bold" href="#">CONTACT</a>
            <a class="flex-grow-0 py-4 fs-5 text-white fw-bold" href="#">BOOKING</a>
            <a class="flex-grow-0 py-4 fs-5 text-white" href="#"><i class="bi bi-person-circle"></i></a>
        </div>
        </div>
    </nav>
</header>