.py-150 {
    padding-top: 150px;
    padding-bottom: 150px;
    @media(max-width:720px) {

        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media(max-width:540px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.p-150 {
    padding: 100px;
    @media(max-width:720px) {
        padding: 70px;
    }
    @media(max-width:540px) {
       padding: 40px;
    }
}



.loginFrom {
    max-width: 737px;
    width: 100%;
}

.loginInput {
    max-width: 737px;
    width: 100%;
    border: 1px solid $base-900;
    background: $white;
    height: 50px;
    border-radius: 8px;
    padding: 16px;
    font-size: 20px;
    box-sizing: border-box;
    transition: border 0.3s;

    &::placeholder {
        color: rgba(190, 136, 116, 0.4);
        font-style: normal;
    }

    &:focus {
        border: 2px solid $base-800;
        outline: none;
    }
}

.loginBtn {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background: $base-900;
    color: $white;
    border-radius: 8px;
    border: none;
}