.salesHeadImg {
    min-height: 400px;
    background-image: url(/assets/images/sales/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
picture img {
  border-radius: 25px;
}