<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap Icons CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <title>Spasibo</title>
</head>

<body class="bg-base-600">
    <!-- 最上面圖片 -->
    <section class="logo">
        <%- include('./layout/header'); -%>
            <div class="salesHeadImg">
            </div>
            <p class="text-center bg-base-900 fs-5 fw-normal text-white py-1">與閨密共享療育時光 兩人同行按摩享9折優惠 手刀預定</p>
    </section>
    <main class="container">
        <div data-aos="fade-up" class="fs-lg-1 fs-md-2 fs-3 my-lg-5 my-md-4 my-3 text-center">
            <p>源於「感謝」的初心</p>
            <p>謝謝身體 善待自己從這裡開始</p>
        </div>
        <div data-aos="fade-up" class="mb-lg-5 mb-md-4 mb-3">
            <picture>
                <source media="(min-width: 768px)" srcset="/images/sales/sales-1.jpg">
                <img src="/images/sales/sales-sm-1.jpg" alt="首次預約想7折" class="img-fluid">
            </picture>
        </div>
        <div data-aos="fade-up" class="mb-lg-5 mb-md-4 mb-3">
            <picture>
                <source media="(min-width: 768px)" srcset="/images/sales/sales-2.jpg">
                <img src="/images/sales/sales-sm-2.jpg" alt="購買8堂享8折" class="img-fluid">
            </picture>
        </div>
        <div data-aos="fade-up" class="mb-lg-5 mb-md-4 mb-3">
            <picture>
                <source media="(min-width: 768px)" srcset="/images/sales/sales-3.jpg">
                <img src="/images/sales/sales-sm-3.jpg" alt="兩人同型優惠" class="img-fluid">
            </picture>
        </div>
        <div data-aos="fade-up" class="mb-lg-5 mb-md-4 mb-3">
            <picture>
                <source media="(min-width: 768px)" srcset="/images/sales/sales-4.jpg">
                <img src="/images/sales/sales-sm-4.jpg" alt="會員生日優惠" class="img-fluid">
            </picture>
        </div>
    </main>















    <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        <script type="module" src="../calendar.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</body>

</html>